/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-top: 50px;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

footer {
    text-align: center;
    color: #4CAF50;
    font-size: small;
}

/* Navbar styles */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #575757;
    display: flex;
    justify-content: center; /* Centers the navbar items */
}

.navbar li a {
    color: white;
    padding: 14px 20px;
    display: block;
}

.navbar li a:hover {
    background-color: #4CAF50;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:50%;
    width: 50%;
  }